.vkui--sizeX-none {
    background-color: white;
}

.App{
    background-color: lavender;
}

.container{
    margin: 0 auto;
    width: 1130px;
    display:flex;
    flex-wrap: wrap;
    /* width: 100%; */
}

.hightText{
    width: 100%;
    text-align: center;
}


.btnGorod{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.btnVyborGorod{
    width: 100%;
    display: flex;
    justify-content: center;
}

.recomndationPogogda{
    width: 100%;
    display: flex;
    justify-content: center;
}

.recomndationOdezhda{
    width: 100%;
    display: flex;
    justify-content: center;
}
.netGororda{
    color:black;
    margin-top: 20px;
    text-align: center;
}

.wh{
    width: 100%;
    display: flex;
    justify-content: center;
    color: black
}
.liStyle{
    list-style-type: none;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.h2Style{
    text-align: center;
}

.ulStyle{
    /* background-color: black; */
    width: 100%;
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 0;
    bottom: 120px;
   
    animation-timing-function:linear;
    
    animation-iteration-count: infinite;
    animation-duration: 20s ;
    animation-name: anima;
    
}
.ulStyle:hover{
    animation-play-state: paused
}
/* @keyframes anima{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 100%;
    }
} */

.liStyle{
   margin-right: 5px;
   height: 232px;
    
}
.h2Style,.hightText{
    color: black;
}
.svgStyle{
    border-radius: 20px;
    height: 300px;
    width: 187px;
}
.imageBigParent{
    display:flex;
    justify-content: center;
}
.clothes{
    width: 100%
}
.slider-container{
    width: 50% !important;
}
.slider-frame{
    width: 31% !important;
}
.slide-current{
    display: flex;
    justify-content: center;
}
.slider-container{
    display: flex !important;
    justify-content: center  !important;
}
.slider-control-bottomcenter{
    display: none;
}
.btnZavtra{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding:10px;
    border:1px solid rgb(243, 230, 230);
    background-color: #ffffff;
}
.head{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    padding:10px;
    /* box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff; */
    background-color: #ffffff;
}
.head2{
    display:flex;
    width: 100%;
    justify-content: center;
}
.body2{
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    /* box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff; */

}
.cityStyle{
    background-color: navajowhite;
}
.wearCurrent{
    background-color: papayawhip;
}
.wearPrimerno{
    background-color: palegoldenrod;
}
.wearDesc{
    background-color: mistyrose;
}

.pogodaNaZavtra{
    text-decoration: none;
    
}

@media screen and (max-width: 600px) {
    .h2Style{
        font-size: 15px;
    }
    .imageBig{
        width: 250px;
    }
    .clothes{
        width: 100%;
    }
    .slider-container{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .slider-frame{
        width: 100% !important;
    }
}